/* Font */
@font-face {
    font-family: MiSans-Normal;
    src: url(../font/MiSans-Normal.woff2);
}

@font-face {
    font-family: MiSans-Bold;
    src: url(../font/MiSans-Bold.woff2);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../font/Poppins-Regular.ttf);
}

/* Design */
:root {
    /* Bright */
    --title: #323232;
    --text: #646464;
    --main: #ef8080;
    --link: #4096ff;
    --notice: #969696;
    --date: #969696;
    --jotting-color: #f5f5ff;
    --footer-color: #323232;
    --canva-color: #ffffff;
    --point-normal-color: #38c68e;
    --point-ongoing-color: #ffa940;
    --point-obsolescent-color: #c8c8c8;
    /* Dark */
    --title-dark: #ffffff;
    --text-dark: #c8c8c8;
    --jotting-color-dark: #646464;
    --canva-color-dark: #323232;
}

.h1 {
    color: var(--title);
    font-family: MiSans-Bold;
    font-size: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h1-dark {
    color: var(--title-dark);
    font-family: MiSans-Bold;
    font-size: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h2 {
    color: var(--title);
    font-family: MiSans-Bold;
    font-size: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h2-dark {
    color: var(--title-dark);
    font-family: MiSans-Bold;
    font-size: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h3 {
    color: var(--title);
    font-family: MiSans-Bold;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h3-dark {
    color: var(--title-dark);
    font-family: MiSans-Bold;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h4 {
    color: var(--title);
    font-family: MiSans-Normal;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h4-dark {
    color: var(--title-dark);
    font-family: MiSans-Normal;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text {
    color: var(--text);
    font-family: MiSans-Normal;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-dark {
    color: var(--text-dark);
    font-family: MiSans-Normal;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.textarea {
    color: var(--text);
    font-family: MiSans-Normal;
    font-size: 15px;
    line-height: 40px;
    white-space: normal;
}

.textarea-dark {
    color: var(--text-dark);
    font-family: MiSans-Normal;
    font-size: 15px;
    line-height: 40px;
    white-space: normal;
}

.main {
    color: var(--main);
    font-family: MiSans-Normal;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link {
    color: var(--link);
    cursor: pointer;
    font-family: MiSans-Normal;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice {
    color: var(--notice);
    font-family: MiSans-Normal;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.date {
    color: var(--date);
    font-family: Poppins-Regular;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.point-normal {
    background-color: var(--point-normal-color);
    border-radius: 5px;
    height: 10px;
    width: 10px;
}

.point-ongoing {
    background-color: var(--point-ongoing-color);
    border-radius: 5px;
    height: 10px;
    width: 10px;
}

.point-obsolescent {
    background-color: var(--point-obsolescent-color);
    border-radius: 5px;
    height: 10px;
    width: 10px;
}
