/* Canva */
::selection {
    background: #ffa940;
    color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--canva-color);
    margin: 0px;
    overflow: auto;
}

/* Super Change */
:root {
    --layout-item-width: 450px;
}

.layout {
    background-color: var(--canva-color);
    display: grid;
    grid-template-rows: 120px auto 120px;
    grid-template-columns: 30px auto 30px;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.layout-footer {
    background-color: var(--footer-color);
    display: grid;
    grid-template-rows: 120px auto 120px;
    grid-template-columns: 30px auto 30px;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.layout-container {
    display: grid;
    grid-template-columns: repeat(2, var(--layout-item-width));
    grid-auto-rows: auto;
    grid-auto-flow: row;
    justify-content: center;
    column-gap: 60px;
    row-gap: 30px;
    grid-area: 2/2/3/3;
    width: 100%;
}

.layout-item {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 30px;
    overflow-x: hidden;
    align-content: start;
    width: var(--layout-item-width);
}

.layout-justifyItem {
    display: grid;
    grid-template-columns: repeat(2, 210px);
    grid-auto-rows: auto;
    grid-auto-flow: row;
    justify-content: space-between;
    row-gap: 30px;
    width: 100%;
}

.layout-item-template {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 20px;
    width: 100%;
}

.layout-item-innerTemplate {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 10px;
    width: 100%;
}

.layout-item-justifyTemplate {
    display: grid;
    grid-template-columns: 10px auto;
    column-gap: 20px;
    width: 100%;
}

.layout-item-jotting {
    background-color: var(--jotting-color);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 30px auto 30px;
    grid-template-columns: 30px auto 30px;
    width: 100%;
}

.layout-item-innerJotting {
    background-color: var(--jotting-color);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 20px auto 20px;
    grid-template-columns: 30px auto 30px;
    width: 100%;
}

.layout-item-jotting-container {
    grid-area: 2/2/3/3;
    width: 100%;
}

.layout-item-point {
    display: grid;
    place-content: center center;
    height: 20px;
    width: 10px;
}

/* Profile */
.profile-icon {
    border-radius: 30px;
    height: 60px;
    width: 60px;
}

@media (width <= 1080px) {
    .layout-container {
        grid-template-columns: var(--layout-item-width);
    }
}

@media (width <= 510px) {
    :root {
        --layout-item-width: 100%;
    }
    .layout {
        justify-content: normal;
    }
    .layout-justifyItem {
        grid-template-columns: auto;
    }
}
